<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <div th:replace="~{partials/header :: header}"></div>
</head>
<body>
<div th:replace="~{partials/navbar :: navbar}"></div>

<h1>Users</h1>
<div th:each="user : ${users}" id="Latest posts">
    <h4 th:text="${user.username}"></h4>
    <form th:action="@{/admin-panel/{id}(id = ${user.id})}" method="DELETE"></form>
    <button type="submit"  th:value="${user.id}">remove User</button>
</div>

<div th:replace="~{partials/footer :: footer}"></div>
</body>
</html>