<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <div th:replace="~{partials/header :: header}"></div>
</head>
<body class="admin-background">
<div th:replace="~{partials/navbar :: navbar}"></div>
<div class="content-wrapper">
    <div class="container mb-5">
        <h1 class="my-5">Welcome Admin</h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="user-tab" data-toggle="tab" data-target="#home" type="button"
                        role="tab" aria-controls="home" aria-selected="true">Users
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="post-tab" data-toggle="tab" data-target="#profile" type="button" role="tab"
                        aria-controls="profile" aria-selected="false">Flagged Posts
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="comment-tab" data-toggle="tab" data-target="#contact" type="button"
                        role="tab" aria-controls="contact" aria-selected="false">Flagged Comments
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="user-tab">
                <h1 class="m-3">Users</h1>
                <div th:each="user : ${users}">
                    <div class="card m-2">
                        <div class="card-body justify-content-center">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title" th:text="${user.username}"></h5>
                                <h5 class="card-title" th:text="${user.email}"></h5>
                                <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                                        th:attr="data-target='#removeUserModal' + ${user.id}">Remove User
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" th:id="'removeUserModal' + ${user.id}" tabindex="-1" role="dialog"
                         aria-labelledby="archiveModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="archiveModalLabel">Confirm Removal</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to remove this User?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <form th:action="@{/admin-panel/{id}(id = ${user.id})}" method="post">
                                        <input type="submit" class="btn btn-danger" value="Confirm Remove">
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="post-tab">
                <h1 class="m-3">Flagged Posts</h1>
                <div th:each="post : ${flaggedP}">
                    <div class="card m-2">
                        <div class="card-body justify-content-center">
                            <h5 class="card-title" th:text="${post.title}"></h5>
                            <p class="card-text" th:text="${post.reportReason}"></p>
                            <div class="d-flex justify-content-end">
                                <a th:href="@{/posts/{id}/review (id = ${post.id})}"
                                   class="btn btn-outline-info mr-2">View
                                    Post</a>
                                <form th:action="@{/admin-panel/posts/{id}/un-flag(id = ${post.id})}" method="post">
                                    <button class="btn btn-outline-info mr-2" type="submit">Remove Flag</button>
                                </form>
                                <form th:action="@{/admin-panel/posts/{id}(id = ${post.id})}" method="post">
                                    <button class="btn btn-outline-info" type="submit">Remove Post</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="comment-tab">
                <h1 class="m-3">Flagged Comments</h1>
                <div th:each="comment : ${flaggedC}">
                    <div class="card m-2">
                        <div class="card-body justify-content-center">
                            <h5 th:text="${comment.reportReason}"></h5>
                            <p class="card-text" th:text="${comment.comment}"></p>
                            <footer class="blockquote-footer"><cite th:text="${comment.user.username}"></cite></footer>
                            <div class="row d-flex align-items-center mt-2 pl-3">
                                <span th:text="${comment.timestamp != null} ? ${#temporals.format(comment.timestamp, 'MM/dd/yyyy h:mm a')} : ''"
                                      class="text-muted"></span>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a th:href="@{/posts/{id}/review (id = ${comment.post.id})}" class="btn btn-outline-info mr-2">View
                                    Post</a>
                                <form th:action="@{/admin-panel/comments/{id}/un-flag(id = ${comment.id})}"
                                      method="post">
                                    <button class="btn btn-outline-info mr-2" type="submit">Remove Flag</button>
                                </form>
                                <form th:action="@{/admin-panel/comments/{id}(id = ${comment.id})}" method="post">
                                    <button class="btn btn-outline-info" type="submit">Remove Comment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{partials/footer :: footer}"></div>
<div th:replace="~{partials/footer :: footerscripts}"></div>
</body>
</html>