<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <div th:replace="~{partials/header :: header}"></div>

    <meta th:name="'_csrf'" th:content="${_csrf.token}"/>
    <meta th:name="'_csrf_header'" th:content="${_csrf.headerName}"/>
</head>
<body class="create-page-bg">
<div th:replace="~{partials/navbar :: navbar}"></div>
<div class="container">
    <h1 class="text-center mt-4">Create A Post</h1>
    <form th:action="@{/posts/{id}/edit(id=${post.id})}" th:object="${post}" method="post" enctype="multipart/form-data"
          class="mx-auto col-12 col-lg-8 col-md-10 mb-4">
        <h5 class="mt-4 text-center mb-4">Select the categories that best describe your post:</h5>

        <!-- Categories -->
        <div class="btn-group-toggle d-flex justify-content-center" data-toggle="buttons">
            <div th:each="category : ${allCategories}">
                <label class="btn btn-outline-primary custom-checkbox-label">
                    <input type="checkbox" th:value="${category.id}" name="selectedCategories"
                           th:checked="${selectedCategories.contains(category.id)}"
                           th:id="${'category' + category.id}" autocomplete="off" class="custom-checkbox-input">
                    <span th:text="${category.cat}"></span>
                </label>
            </div>
        </div>

        <!-- Title -->
        <div class="form-group mt-4">
            <label for="title">Title:</label>
            <input type="text" id="title" th:field="*{title}" class="form-control" required/>
        </div>

        <!-- Story -->
        <div class="form-group">
            <label for="story">Tell us your story:</label>
            <textarea id="story" th:field="*{story}" rows="5" class="form-control" required></textarea>
        </div>

        <!-- Solution/Help -->
        <div class="form-group">
            <label for="solution">How can the UpliftUnity community help?</label>
            <textarea id="solution" th:field="*{solution}" rows="5" class="form-control" required></textarea>
        </div>

        <!-- Tags -->
        <div class="form-group">
            <input type="hidden" id="tagStringTest" name="tagString" class="form-control"/>
        </div>

        <div th:replace="~{partials/tags :: tagsedit}"></div>

        <!-- Images -->
        <h4>Images</h4>
        <div class="form-group">
            <button type="button" onclick="openPostImagePicker()" class="rounded btn btn-outline upload-button">Upload Images</button>
            <input type="hidden" id="hiddenImageUrls" name="imageUrls">
            <div id="imagePreviewContainer"></div>
        </div>
        <div id="existingImagesContainer">
            <div class="row">
                <div th:each="image : ${images}" class="col-2">
                    <div class="image-preview-wrapper">
                        <img th:src="${image.image}" alt="Existing image preview" width="90">
                        <span class="remove-image-button" th:data-image-id="${image.id}"
                              onclick="removeExistingImage(this)">X</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary custom-btn w-100 mt-4">Save</button>
        </div>
    </form>
</div>
<div th:replace="~{partials/footer :: footer}"></div>
<script th:src="@{/js/tag-edit.js}" type="text/javascript"></script>
<script th:src="@{/js/filestack-api-key.js}"></script>
<script th:src="@{/js/filestack-functionality.js}"></script>
</body>
</html>