<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Post Details</title>

    <meta th:name="'_csrf'" th:content="${_csrf.token}"/>
    <meta th:name="'_csrf_header'" th:content="${_csrf.headerName}"/>


</head>
<body class="individual-post">
<div th:replace="~{partials/header :: header}"></div>
<div th:replace="~{partials/navbar :: navbar}"></div>

<div class="container mt-5">

    <!-- Post Image and Share/Email buttons -->
    <div class="row">
        <div class="col-md-8">
            <!--            <img th:src="${post.imageUrl}" alt="Post Image" class="img-fluid">-->
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center">
            <button class="btn btn-primary mb-2">Share</button>
            <button class="btn btn-secondary">Email</button>
        </div>
    </div>
    <div class="like-container">
        <input type="hidden" id="postId" th:value="${post.id}"/>
        <button id="heart-btn" class="heart-btn"><i class="fa-solid fa-heart" th:if="${hasLiked}"></i><i class="fa-regular fa-heart" th:if="${!hasLiked}"></i>
            <span id="like-count" th:text="${likeCount}"></span>
        </button>
    </div>

    <!-- Posted By and Date -->
    <div class="mt-4">
        <p><strong>Posted by:</strong> <span th:text="${post.user.username}"></span></p>
        <p><strong>Date:</strong> <span th:text="${#dates.format(post.date, 'dd MMMM yyyy')}"></span></p>
    </div>

    <!-- Title -->
    <h2 th:text="${post.title}"></h2>

    <!-- Story -->
    <div class="mt-3">
        <p th:text="${post.story}"></p>
    </div>

    <!-- How You Can Help -->
    <h4 class="mt-4">How you can help</h4>
    <div>
        <p th:text="${post.solution}"></p>
    </div>

    <!-- Categories -->
    <h5 class="mt-4">Categories:</h5>
    <div>
        <button th:each="category : ${post.categories}" type="button" class="btn btn-outline-primary m-1"
                th:text="${category.cat}"></button>
    </div>

    <!-- Comments and Comment Form -->
    <div class="mt-4">
        <h5>Comments:</h5>
        <div th:each="comment : ${comments}">
            <p th:text="${comment.comment}"></p>
            <small><strong>By:</strong> <span th:text="${comment.user.username}"></span></small>
        </div>

        <!-- Add Comment Form -->
        <form th:action="@{/posts/{id}/comments(id=${post.id})}" method="post" class="mt-4">
            <div class="form-group">
                <textarea name="comment" class="form-control" rows="3" placeholder="Add your comment..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Comment</button>
        </form>
    </div>
    <button onclick="window.history.back()" class="btn btn-primary mt-3">Go Back</button>

</div>
<div th:replace="~{partials/footer :: footer}"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/like-functionality.js"></script>
</body>
</html>