<!DOCTYPE html>
<html lang="en">
<head>
    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" lang="en" th:fragment="header">
    <head>
        <meta charset="UTF-8">
        <title th:text="${pageTitle}">UpliftUnity</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <!--CDN link that allows users to share a post-->
  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#
  property=64e39dcb6dbfde0012ce1141&product=inline-share-buttons&source=platform" async="async"></script>

</head>
</body>
</html>