<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Settings</title>
    <div th:replace="~{partials/header :: header}"></div>

    <meta th:name="'_csrf'" th:content="${_csrf.token}"/>
    <meta th:name="'_csrf_header'" th:content="${_csrf.headerName}"/>
</head>
<body class="profile-settings-bg">
<div th:replace="~{partials/navbar :: navbar}"></div>

<div class="content-wrapper">
    <div class="container">
        <!-- User Details Section -->
        <h1 class="text-center mt-4">Settings</h1>
        <div class="user-details mt-4 d-flex justify-content-center flex-column mx-auto col-12 col-lg-5 col-md-10">
            <img th:src="${profileImage}" alt="Profile Image" class="profile-image mx-auto">
            <h2 th:text="${user.username}" class="text-center">Username</h2>
            <button onclick="openProfileImagePicker()" class="btn btn-outline-dark w-50 mx-auto mb-4">Upload Profile
                Image
            </button>
        </div>
        <form action="/update-details" method="post" id="userDetailsForm"
              class="mt-3 mx-auto col-12 col-lg-5 col-md-10">
            <h4 class="text-center">User Details</h4>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" th:value="${user.username}" readonly
                       class="form-control">
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:value="${user.email}" readonly class="form-control">
            </div>

            <button type="button" class="btn btn-info w-100" data-toggle="modal" data-target="#editUserDetailsModal">
                Edit
            </button>
        </form>

        <!-- Password Change Section -->
        <div class="password-change my-5 d-flex justify-content-center flex-column mx-auto col-12 col-lg-5 col-md-10">
            <h4 class="text-center mb-3">Password</h4>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#changePasswordModal">Change
                Password
            </button>
        </div>
        <div th:if="${successMessage}" class="alert alert-success mt-4" th:text="${successMessage}"></div>
        <div th:if="${errorMessage}" class="alert alert-danger mt-4" th:text="${errorMessage}"></div>

        <div class="my-5 d-flex justify-content-center flex-column mx-auto col-12 col-lg-5 col-md-10 ">
            <h4 class="text-center pb-2">Archive User Account</h4>
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#archiveUser">Archive
            </button>
        </div>
    </div>
</div>


<!-- Edit User Details Modal -->
<div class="modal fade" id="editUserDetailsModal" tabindex="-1" aria-labelledby="editUserDetailsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserDetailsModalLabel">Edit User Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/update-details" method="post" id="editUserDetailsForm">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

                    <div class="form-group">
                        <label for="editUsername">Username:</label>
                        <input type="text" id="editUsername" name="username" th:value="${username}"
                               class="form-control"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="editEmail">Email:</label>
                        <input type="email" id="editEmail" name="email" th:value="${email}" class="form-control"
                               required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"
                        onclick="document.getElementById('editUserDetailsForm').submit();">Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/update-password" method="post" id="changePasswordForm">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <div class="form-group">
                        <label for="currentPassword">Current Password:</label>
                        <input type="password" id="currentPassword" name="currentPassword" class="form-control"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="newPassword">New Password:</label>
                        <input type="password" id="newPassword" name="newPassword" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="confirmNewPassword">Confirm New Password:</label>
                        <input type="password" id="confirmNewPassword" name="confirmNewPassword"
                               class="form-control"
                               required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"
                        onclick="document.getElementById('changePasswordForm').submit();">Change Password
                </button>
            </div>
        </div>
    </div>
    <div id="success-message" class="alert alert-success d-none" role="alert">
        Profile image updated successfully
    </div>

    <div id="error-message" class="alert alert-danger d-none" role="alert">
        Failed to update profile image
    </div>
</div>
</div>

<!-- Archive User -->
<div class="modal fade" id="archiveUser" tabindex="-1" role="dialog"
     aria-labelledby="archiveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="archiveModalLabel">Confirm Archive</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please be aware that if you archive your user account. Your account can still be accessible. But if
                    you access your account within 30 days of archival. Your archive status will be removed and your
                    account will be live again! If your goal is to delete your account. Just archive and forget it.
                    After 30 days it will be deleted from our system.</p>
                <p>Are you sure you want to archive your user account?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form th:action="@{/user/archive/{id}(id=${user.id})}" method="post">
                    <input type="submit" class="btn btn-danger" value="Confirm Archive">
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{partials/footer :: footer}"></div>
<div th:replace="~{partials/footer :: footerscripts}"></div>
<script th:src="@{/js/filestack-api-key.js}"></script>
<script th:src="@{/js/filestack-functionality.js}"></script>
</body>
</html>