:root {
    --logo-font: 'DM Serif Display', serif;
    --poppins-font: 'Poppins', sans-serif;

    /* Font weights for Poppins */
    --weight-extra-light: 100;
    --weight-light: 200;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-bold: 700;

    --tan-color: #FCECDC;
    --off-white-color: #FAF8F6;
    --primary-button-color: #EE9949;
    --secondary-button-color: #FFBA7A;
    --logo-color: #444444;
    --on-click-color: #DD8840;
}

/*NAVBAR START*/

nav {
    background-color: var(--tan-color);
}

.navbar-brand {
    font-family: var(--logo-font);
    color: var(--logo-color);
}

.navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    font-family: var(--poppins-font);
    color: var(--logo-color);
}

.navbar.navbar-expand-lg .navbar-nav .logout-item .nav-link.text-center {
    font-family: var(--poppins-font);
    color: var(--logo-color);
}

.navbar.navbar-expand-lg .navbar-nav .nav-item .btn.btn-primary,
.navbar.navbar-expand-lg .navbar-nav .nav-item .btn.btn-primary:hover,
.navbar.navbar-expand-lg .navbar-nav .nav-item .btn.btn-primary:focus {
    background-color: var(--primary-button-color);
    border: none;
    color: white;
    border-radius: 14px;
    padding: 5px 20px;
    box-shadow: none;
    outline: none;
    height: 30px;

}

.navbar.navbar-expand-lg .navbar-nav .nav-item .btn.btn-primary:active {
    background-color: var(--on-click-color);
}

/*NAVBAR END*/

/*HERO SECTION / INDEX PAGE START*/

.header-item {
    font-family: var(--logo-font);
    color: var(--logo-color);
}

.carousel-inner {
    border-radius: 8px;
}

.custom-modal-width {
    max-width: 25%;
}

.index-body {
    background-color: var(--off-white-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}

#wave {
    margin-top: -3px;
}

.hero-section {
    background-color: var(--tan-color);
}

.hero-section h1 {
    font-family: var(--logo-font);
    color: var(--logo-color);
}

.hero-section p {
    font-family: var(--poppins-font);
    font-weight: var(--weight-light);
    font-size: 2rem;
}

.hero-section-image {
    width: 85%;
}

div.hero-section a.btn.btn-primary.custom-btn,
div.hero-section a.btn.btn-primary.custom-btn:hover,
div.hero-section a.btn.btn-primary.custom-btn:focus {
    background-color: var(--primary-button-color);
    border: none;
    color: white;
    border-radius: 8px;
    width: 200px;
    box-shadow: none;
    outline: none;
    height: 40px;
}

div.hero-section a.btn.btn-primary.custom-btn:active {
    background-color: var(--on-click-color);
}

.card-content h2, .index-body h2 {
    font-family: var(--logo-font);
    color: var(--logo-color);
}

.card-img-top {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.index-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95%;
}

.index-card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    transform: scale(1);
    font-family: var(--poppins-font);
}

.index-card:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.read-more {
    color: #00917B;
    text-decoration: underline;
}

.index-card-text {
    color: #444444;
}

.index-card-title:hover {
    text-decoration-color: #444444;
}

.icon-text-color {
    color: #565656;
}

.icon-text-color:hover {
    color: #ee994a;
}

.landing-page h3 {
    font-family: var(--logo-font);
    font-weight: var(--weight-regular);
    color: var(--logo-color);
}

.landing-page p {
    font-family: var(--poppins-font);
    color: var(--logo-color);
    line-height: 28px;
}

.landing-page i {
    color: var(--logo-color);
}

.line {
    height: 2px;
    border-radius: 50px;
    width: 90%;
    background-color: #dfdfd9;
    margin-bottom: 30px;
}

/*HERO SECTION END / INDEX PAGE END*/

/*SIGN UP PAGE START*/

.left-panel {
    background-color: var(--tan-color);
}

.right-panel {
    background-color: white;
}

.form-background {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.07);
}

.left-panel .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: lightgrey;
}

.left-panel .form-background form {
    font-family: var(--poppins-font);
}

.left-panel .form-background form input {
    background-color: transparent;
}

button.btn.btn-primary.custom-btn,
button.btn.btn-primary.custom-btn:hover,
button.btn.btn-primary.custom-btn:focus {
    background-color: var(--primary-button-color);
    border: none;
    color: white;
    border-radius: 8px;
    box-shadow: none;
    outline: none;
    height: 40px;
}

button.btn.btn-primary.custom-btn:active {
    background-color: var(--on-click-color);
}

.signup-span {
    font-size: 15px;
    color: #444444;
}

.sign-up h1 {
    font-family: var(--logo-font);
    color: var(--logo-color);
    padding-top: 1.7em;
}

.signup-h3 {
    font-family: var(--poppins-font);
    font-weight: var(--weight-light);
}

.container.sign-up img.sign-up-image {
    width: 33%;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    object-fit: cover;
    margin: 0 2px;
    border-radius: 25px;
}

.circles .circle {
    width: 14px;
    height: 14px;
    border-radius: 150px;
    background-color: lightgrey;
    margin: 2em 2px;
}

/*SIGN UP PAGE END*/

/*LOGIN PAGE START*/

.login-background {
    background-color: #f0f3f7;
}

.login-form-background {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.07);
}

.login-form-background h1 {
    font-family: var(--logo-font);
    color: var(--logo-color);
}

.login-form-background h2 {
    font-family: var(--poppins-font);
    font-weight: var(--weight-light);
}

.login-form .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: lightgrey;
}

.login-form .login-form-background form {
    font-family: var(--poppins-font);
}

.login-form .login-form-background form input {
    background-color: transparent;
    border-radius: 15px;
}

.sign-up-line {
    font-family: var(--poppins-font);
    font-size: 15px;

}

.sign-up-line a {
    color: #696969;
    text-decoration: underline;
}

/*LOGIN PAGE END*/

/*ABOUT US PAGE START*/

.codeup-icon {
    width: 38px ;
    height: 38px;
    margin-bottom: 12px;
}

.about-us-background {
    background-color: var(--off-white-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}

.mission-content {
    font-family: var(--poppins-font);
}

.mission-content p {
    font-size: 18px;
    line-height: 30px;
}

.mission-content h2 {
    font-family: var(--logo-font);
}

.team-member-image {
    width: auto;
    height: 225px;
}

/* Carousel for images */
.home .home-slider img {
    height: 25rem;
    width: 35rem;
    border-radius: .5rem;
    object-fit: cover;
}


/*ABOUT US PAGE END*/

/*CONTACT US PAGE START*/

.contact-bg {
    background-color: var(--off-white-color);
    font-family: var(--poppins-font);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}

.contact-bg h1 {
    font-family: var(--logo-font);
    color: var(--logo-color);
}

.contact-background {
    background-color: white;
    border-radius: 8px;
}

.contact-background {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.07);
}

.contact-bg .contact-background form input,
.contact-bg .contact-background form textarea {
    background-color: transparent;
    border-radius: 15px;
}

.contact-bg .contact-background form .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: lightgrey;
}

.contact-bg h3 {
    font-family: var(--poppins-font);
    font-weight: var(--weight-light);
}

/*CONTACT US PAGE END*/

/*CREATE A POST START */

.btn-group-toggle .btn.btn-outline-primary.active {
    background-color: #EE9949;
    border-color: #EE9949;
    box-shadow: none;
    filter: brightness(98%);
}

.btn-group-toggle .btn.btn-outline-primary:hover {
    background-color: #EE9949;
    border-color: #EE9949;
}

.btn-group-toggle .btn.btn-outline-primary:not(.active) {
    box-shadow: none;
}

.create-page-bg {
    background-color: var(--off-white-color);
    font-family: var(--poppins-font);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}

.create-page-bg h1 {
    font-family: var(--logo-font);
    color: var(--logo-color);
}

.create-page-bg h5 {
    font-weight: var(--weight-regular);
}

.custom-checkbox-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.btn-group-toggle {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn-group-toggle .btn {
    width: 125px;
    height: 42px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
}

.btn-group-toggle .btn-outline-primary {
    border-color: var(--logo-color);
    color: var(--logo-color);
}

.btn-group-toggle .btn-outline-primary:hover {
    color: #ffffff;
    border: none;
}


.create-page-bg input, .create-page-bg textarea {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--logo-color);
}

.create-page-bg input:hover, .create-page-bg textarea:hover {
    background-color: transparent;
}

.create-page-bg input:focus, .create-page-bg textarea:focus {
    background-color: transparent;
}

.image-preview-wrapper {
    display: inline-block;
    position: relative;
    margin: 5px;
}

.remove-image-button {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    opacity: 0.7;
    color: white;
    cursor: pointer;
    padding: 2px 5px;
}

.form-group .upload-button {
    background-color: #a7aaaf;
    color: white;
}

.form-group .upload-button:hover {
    background-color: grey;
    color: white;
}

.form-text {
    font-weight: var(--weight-medium);
}

/*CREATE A POST END*/

/*EDIT POSTS PAGE START*/

#existingImagesContainer .edit-image {
    width: 90px;
    height: 90px;
}

/*EDIT POSTS PAGE END*/

/*INDIVIDUAL POST PAGE START*/

.individual-post {
    background-color: var(--off-white-color);
    font-family: var(--poppins-font);
}

.individual-post{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}


/* Normal state */
.heart-btn {
    background-color: white;
    color: red;
    border: 1px solid #FFC0B7;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    width: 100px;

}

/* Liked state */
.heart-btn.liked {
    background-color: #ffe0d6;
    color: red;
    border: 1px solid #ffe0d6;
    padding: 5px 10px;
    cursor: pointer;
    width: 100px;
}

.carousel-item img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.date {
    font-size: 12px;
}

.comment-button {
    background-color: #00917A;
    border: none;
    border-radius:8px;
    height: 38px;
}

.comment-button:hover, .comment-button:focus, .comment-button:active {
    background-color: #007562;
    box-shadow: none;
}

.category-show {
    border: 1px solid #00917A;
    color: #00917A;
    border-radius: 8px;
}

.category-show:hover {
    background-color: #00917A;
    border-color: #00917A;
}

.report-modal {
    background-color: #bb3922;
    border: none;
    border-radius: 8px;
    height: 38px;
}

.report-modal:hover {
    background-color: #a8331e;
}

.close-button {
    border-radius: 8px;
}

.comment-link {
    color: grey;
}

.comment-link:hover {
    color: #00917A;
}

.modal {
    font-family: var(--poppins-font);
}

/*INDIVIDUAL POST PAGE END*/

/*POSTS/FEED PAGE START*/

.likes-comments {
    border-bottom: .8px solid #D3D3D3;
    padding: 10px 0;
}

.feed-card-body {
    padding-top: 0;
}

.search-card {
    margin-top: -24px;
}

.custom-search {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #c6c6c6;
    padding: 5px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 0 auto;
    font-family: var(--poppins-font);
}

.dropdown-section {
    display: flex;
    align-items: center;
    border-right: 2px solid #c6c6c6;
    padding-right: 10px;
    margin-right: 10px;
}

.custom-dropdown {
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.custom-search-input {
    border: none;
    background-color: transparent;
    flex: 1;
    padding: 10px 5px;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
}

.feed-background {
    background-color: var(--off-white-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
    font-family: var(--poppins-font);
}

.search-bar {
    background-color: transparent;
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--logo-color);
    height: 40px;
    padding-left: 2em;
}

.category-button {
    border: 1px solid var(--logo-color);
    border-radius: 20px;
    width: 125px;
}

.category-button:hover{
    color: white;
    background-color: var(--primary-button-color);
    border: none;

}

.all-posts-button {
    border: 1px solid var(--logo-color);
    border-radius: 20px;
}

.all-posts-button:hover{
    color: white;
    background-color: var(--primary-button-color);
    border-color: var(--primary-button-color);
}

.greyish-color {
    color: var(--logo-color);
}

/*POSTS/FEED PAGE END*/

/*PROFILE SETTING PAGE START */

.profile-settings-bg {
    background-color: var(--off-white-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
    font-family: var(--poppins-font);
}

.profile-settings-bg h1 {
    font-family: var(--logo-font);
    color: var(--logo-color);
}

.form-radius {
    border-radius: 8px;
}

/*PROFILE SETTING PAGE END*/

/*FOOTER START*/

.footer-heart {
    color: crimson;
}

.content-wrapper {
    flex: 1;
}

footer .footer-logo {
    font-family: var(--logo-font);
}

footer .footer-background {
    background-color: var(--tan-color);
    padding-top: 40px;
    font-family: var(--poppins-font);
}

/*FOOTER END*/

/*TAGS START*/

.parent-tags {
    border-radius: 4px;
    background-color: transparent;
    width: 100%;
    margin-bottom: 10px;
}

.wrapper-tags {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid black;
    border-radius: 12px;
}

.input-tag {
    background-color: transparent;
    padding: 6px 12px;
    flex: 1;
}

#tagString1 {
    border: none;
    outline: none;
}

.item-tag {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: max-content;
    padding: 6px;
    background-color: var(--primary-button-color);
    color: #fff;
    border-radius: 15px;
    font-size: 16px;
    cursor: default;
}

.btn-rm-tag {
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 50%;
    display: grid;
    place-content: center;
    font-size: 11px;
    cursor: pointer;
}

.tags-length {
    display: block;
    text-align: right;
    padding: 10px 5px;
    font-size: 14px;
}

/*TAGS END*/

/*PROFILE PAGE START*/

.profile-image {
    width: 65px;
    height: 65px;
    border-radius: 50px;
}

.profile-background {
    background-color: var(--off-white-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
    font-family: var(--poppins-font);
}

.profile-setting-btn {
    color: #00917A;
}

.profile-setting-btn:hover {
    color: #007562;
}

.archive-button {
    border-radius: 8px;
    border-color: #bb3922;
    color: #bb3922;
}

.archive-button:hover {
    background-color: #a8331e;
    color: white;
    border-color: #a8331e;
}

.restore-button {
    border-radius: 8px;
}

/*PROFILE PAGE END*/

/*ADMIN PAGE START*/

.admin-background {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
    font-family: var(--poppins-font);
}

.admin-background h1 {
    font-family: var(--logo-font);
    color: var(--logo-color);
}

/*ADMIN PAGE END*/

/*WELCOME MODAL START*/

#firstTimeVisitorModal {
    font-family: 'Poppins', sans-serif;
}

.logo-span {
    font-family: var(--logo-font);
}

/*WELCOME MODAL END*/


/*ERROR PAGE START*/

.error-bg {
    background-color: var(--off-white-color);
}

.error-bg h1 {
    color: var(--logo-color);
    font-family: var(--logo-font);
}

.error-bg h3 {
    color: var(--logo-color);
    font-family: var(--poppins-font);
}

.error-bg img {
    width: 50%;
}

/*ERROR PAGE END*/

/*MEDIA QUERIES START*/

@media (max-width: 767.98px) {
    .hero-section h1 {
        font-size: 40px;
        margin-top: 1rem;
    }

    .hero-section p {
        font-size: 22px;
    }

    .hero-section .mission-button {
        margin-bottom: 2.3rem;
    }

    .custom-dropdown, .custom-search-input {
        font-size: 0.8rem;
    }

    .shrink-text {
        font-size: 12px;
    }

    .posted-text {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .hero-section .mission-button {
        margin-bottom: 2.3rem;
    }

    .hero-section h1 {
        margin-top: 1rem;
    }
}






