<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div style="background-color: #FCECDC; height: 10vh; width: 100%; margin-bottom: 1.5rem;">
    <div style="max-width: 1140px; margin: 0 auto; height: 100%;">
        <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
            <h1 style="font-family: 'DM Serif Display', serif; text-align: center;">UpliftUnity</h1>
        </div>
    </div>
</div>
<div style=" font-family: 'Poppins', Arial, Helvetica, 'Segoe UI', Roboto, sans-serif; line-height: 1.5; color: #444444">
    <h3 style="margin-left: 3rem; margin-right: 3rem;">Dear <span th:text="${username}"></span>,</h3>
    <p style="margin-left: 3rem; margin-right: 3rem;">Thank you for joining the UpliftUnity community! We are so
        glad you are here.</p>
    <p style="margin-left: 3rem; margin-right: 3rem;">At UpliftUnity, we aim to foster understanding, empathy,
        and unity by providing a space to share stories, connect with others, and find support. We believe that
        by listening to each other's experiences, we can build bridges of compassion.</p>
    <p style="margin-left: 3rem; margin-right: 3rem;">Now that you have joined, here are a few tips to get you
        started:</p>
    <ul style="margin-left: 3rem; margin-right: 3rem;">
        <li>
            <p>Read and interact - Dive into the stories shared by others, leave comments and likes to
                engage.</p>
        </li>
        <li>
            <p>Share your own story - When you feel ready, post about your own experiences to connect with
                others going through similar journeys.</p>
        </li>
    </ul>
    <p style="margin-left: 3rem; margin-right: 3rem;">This is a community centered around support. If you need
        help navigating the platform, have any questions, or just want to share your thoughts, please don't
        hesitate to reach out.</p>
    <p style="margin-left: 3rem; margin-right: 3rem;">We are so happy to have you as part of the UpliftUnity
        family!</p>
    <p style="margin-left: 3rem; margin-right: 3rem;">Warm regards,</p>
    <p style="margin-left: 3rem; margin-right: 3rem;">The UpliftUnity Team!</p>
    <div style="margin: 3rem; display: flex; justify-content: center;">
        <a href="https://upliftunity.com/"
           style="background-color: #EE9949; border: none; color: white; border-radius: 8px; width: 200px; box-shadow: none; outline: none; height: 40px; display: flex; align-items: center; justify-content: center; text-decoration: none">Explore
            UpliftUnity</a>
    </div>
</div>
</body>
</html>