<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="Eng">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
    <div th:replace="~{partials/header :: header}"></div>
</head>
<body class="feed-background">
<div th:replace="~{partials/navbar :: navbar}"></div>
<div class="content-wrapper">
    <div class="container">
        <!--    <h2 class="text-center">Search Results for "<span th:text="${query}">Your Query</span>"</h2>-->

        <form th:action="@{/posts/search}" method="post" class="d-flex justify-content-center mt-5">
            <div class="col-12 col-lg-8 mb-4">
                <input type="text" name="query" placeholder="Search by story, tag, or category..." class="search-bar">
            </div>
        </form>

        <div class="row d-flex justify-content-center col-12 col-lg-8 mx-auto mb-4">

            <div class="mr-2 mb-2 mx-auto">
                <a class="btn category-button" th:href="@{/posts}">All Posts</a>
            </div>
            <div class="mr-2 mb-2 mx-auto">
                <a class="btn category-button" th:href="@{/posts/category/1}">Animals</a>
            </div>
            <div class="mr-2 mb-2 mx-auto">
                <a class="btn category-button" th:href="@{/posts/category/2}">Community</a>
            </div>
            <div class="mr-2 mb-2 mx-auto">
                <a class="btn category-button" th:href="@{/posts/category/3}">Education</a>
            </div>
            <div class="mr-2 mb-2 mx-auto">
                <a class="btn category-button" th:href="@{/posts/category/4}">Emergencies</a>
            </div>
            <div class="mr-2 mb-2 mx-auto">
                <a class="btn category-button" th:href="@{/posts/category/5}">Environment</a>
            </div>
            <div class="mr-2 mb-2 mx-auto">
                <a class="btn category-button" th:href="@{/posts/category/6}">Family</a>
            </div>
            <div class="mr-2 mb-2 mx-auto">
                <a class="btn category-button" th:href="@{/posts/category/7}">Medical</a>
            </div>
            <div class="mr-2 mb-2 mx-auto">
                <a class="btn category-button" th:href="@{/posts/category/8}">Monthly Bills</a>
            </div>
            <div class="mr-2 mb-2 mx-auto">
                <a class="btn category-button" th:href="@{/posts/category/9}">Recovery</a>
            </div>
            <div class="mr-2 mb-2 mx-auto">
                <a class="btn category-button" th:href="@{/posts/category/10}">Travel</a>
            </div>
            <div class="mr-2 mb-2 mx-auto">
                <a class="btn category-button" th:href="@{/posts/category/11}">Volunteer</a>
            </div>
            <div class="mr-2 mb-2 mx-auto">
                <a class="btn category-button" th:href="@{/posts/category/12}">Youth</a>
            </div>
            <div class="mr-2 mb-2 mx-auto">
                <a class="btn category-button" th:href="@{/posts/category/13}">Event</a>
            </div>
            <div class="mr-2 mb-2 mx-auto">
                <a class="btn category-button" th:href="@{/posts/category/14}">Advice</a>
            </div>
            <div class="mr-2 mb-2 mx-auto">
                <a class="btn category-button" th:href="@{/posts/category/15}">Other</a>
            </div>
        </div>

<!--        <form th:action="@{/posts/search}" method="post" class="d-flex justify-content-center mt-5">-->
<!--            <div class="col-12 col-lg-8 mb-4 custom-search">-->
<!--                <div class="dropdown-section">-->
<!--                    <select name="category" class="custom-dropdown">-->
<!--                        <option value="0" selected>All Posts</option>-->
<!--                        <option value="1">Animals</option>-->
<!--                        <option value="2">Community</option>-->
<!--                        <option value="3">Education</option>-->
<!--                        <option value="4">Emergencies</option>-->
<!--                        <option value="5">Environment</option>-->
<!--                        <option value="6">Family</option>-->
<!--                        <option value="7">Medical</option>-->
<!--                        <option value="8">Monthly Bills</option>-->
<!--                        <option value="9">Recovery</option>-->
<!--                        <option value="10">Travel</option>-->
<!--                        <option value="11">Volunteer</option>-->
<!--                        <option value="12">Youth</option>-->
<!--                        <option value="13">Event</option>-->
<!--                        <option value="14">Advice</option>-->
<!--                        <option value="15">Other</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <input type="text" name="query" placeholder="Search by story, tag, or category..." class="custom-search-input">-->
<!--            </div>-->
<!--        </form>-->

        <div class="row" th:if="${searchResultsTitle}">
            <div th:each="post : ${searchResultsTitle}"
                 class="col-12 col-lg-8 d-flex flex-column justify-content-center mx-auto mb-4">
                <div class="card mb-4">
                    <img th:if="${post.images.size() > 0}" th:src="${post.images.get(0).image}" class="card-img-top"
                         alt="Post Image">
                    <div class="card-body">
                        <a th:href="@{/posts/{id} (id= ${post.getId()})}" class="index-card-title">
                            <h5 class="card-title index-card-title text-dark" th:text="${post.title}"></h5>
                        </a>
                        <p class="card-text" th:text="${#strings.abbreviate(post.story,150)}">Post Story</p>
                        <div class="d-flex justify-content-end">
                            <a th:href="@{/posts/{id}(id=${post.id})}" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" th:if="${searchResultsTags}">
            <div th:each="tag : ${searchResultsTags}"
                 class="col-12 col-lg-8 d-flex flex-column justify-content-center mx-auto mb-4">
                <div class="card mb-4">
                    <img th:if="${tag.post.images.size() > 0}" th:src="${tag.post.images.get(0).image}"
                         class="card-img-top" alt="Post Image">
                    <div class="card-body">
                        <a th:href="@{/posts/{id} (id= ${tag.post.id})}" class="index-card-title">
                            <h5 class="card-title index-card-title text-dark" th:text="${tag.post.title}"></h5>
                        </a>
                        <p class="card-text" th:text="${#strings.abbreviate(tag.post.story,150)}">Post Story</p>
                        <div class="d-flex justify-content-end">
                            <a th:href="@{/posts/{id}(id=${tag.post.id})}" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" th:if="${category}">
            <div th:each="post : ${category}" class="col-12 col-lg-8 mb-4">
                <div class="card mb-4">
                    <img th:if="${post.images.size() > 0}" th:src="${post.images.get(0).image}" class="card-img-top"
                         alt="Post Image">
                    <div class="card-body">
                        <a th:href="@{/posts/{id} (id= ${post.getId()})}" class="index-card-title">
                            <h5 class="card-title index-card-title text-dark" th:text="${post.title}"></h5>
                        </a>
                        <p class="card-text" th:text="${#strings.abbreviate(post.story,150)}">Post Story</p>
                        <div class="d-flex justify-content-end">
                            <a th:href="@{/posts/{id}(id=${post.id})}" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center mx-auto mb-4">
            <div th:each="post : ${posts}" class="card mb-3" id="Latest posts">
                <img th:if="${post.images.size() > 0}" th:src="${post.images.get(0).image}" class="card-img-top"
                     alt="Post Image">
                <div class="card-body">
                    <a th:href="@{/posts/{id} (id= ${post.getId()})}" class="index-card-title">
                        <h5 class="card-title index-card-title text-dark" th:text="${post.title}"></h5>
                    </a>
                    <p class="card-text" th:text="${#strings.abbreviate(post.story,150)}"></p>
                    <div class="d-flex justify-content-end">
                        <a th:href="@{/posts/{id}(id=${post.id})}" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{partials/footer :: footer}"></div>
<div th:replace="~{partials/footer :: footerscripts}"></div>
<script src="/js/searchbar-functionality.js"></script>
</body>
</html>
