<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>UpliftUnity</title>
    <div th:replace="~{partials/header :: header}"></div>
</head>

<body class="index-body">
<div class="content-wrapper">
    <div th:replace="~{partials/navbar :: navbar}"></div>
    <div class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12 d-flex flex-column justify-content-center">
                    <h1 class="display-3">UpliftUnity</h1>
                    <p class="pt-2">Where Stories Meet Support. Together, We Make a Difference.</p>
                    <a class="btn btn-primary custom-btn text-white d-flex align-items-center
                     justify-content-center mt-3" th:href="@{/mission}">Our Mission</a>
                </div>
                <div class="col-lg-6 col-xs-12 d-flex justify-content-end">
                    <img src="/images/earth.png" alt="Water color painting of earth"
                         class="hero-section-image pt-4">
                </div>
            </div>
        </div>
    </div>
    <div class="container card-content">
        <h2 class="text-center my-3">Discover</h2>
        <div class="row">
            <div th:each="post : ${posts}" class="col-md-4">
                <div class="card mb-4">
                    <img th:if="${post.images.size() > 0}" th:src="${post.images.get(0).image}" class="card-img-top" alt="Post Image">
                    <div class="card-body">
                        <a th:href="@{/posts/{id}(id=${post.id})}">
                            <h5 class="card-title" th:text="${post.title}"></h5>
                        </a>
                        <p class="card-text" th:text="${#strings.abbreviate(post.story,75)}">Post Content</p>
                        <a th:href="@{/posts/{id}(id=${post.id})}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center">Browse By Category</h2>
    <div class="container">
        <div class="row justify-content-center ">
            <div>
                <a class="btn btn-primary custom-btn text-white" th:href="@{/posts/category/1}">Animals</a>
            </div>
            <div>
                <a class="btn btn-primary custom-btn text-white" th:href="@{/posts/category/2}">Community</a>
            </div>
            <div>
                <a class="btn btn-primary custom-btn text-white" th:href="@{/posts/category/3}">Education</a>
            </div>
            <div>
                <a class="btn btn-primary custom-btn text-white" th:href="@{/posts/category/4}">Emergencies</a>
            </div>
            <div>
                <a class="btn btn-primary custom-btn text-white" th:href="@{/posts/category/5}">Environment</a>
            </div>
            <div>
                <a class="btn btn-primary custom-btn text-white" th:href="@{/posts/category/6}">Family</a>
            </div>
            <div>
                <a class="btn btn-primary custom-btn text-white" th:href="@{/posts/category/7}">Medical</a>
            </div>
            <div>
                <a class="btn btn-primary custom-btn text-white" th:href="@{/posts/category/8}">Monthly Bills</a>
            </div>
            <div>
                <a class="btn btn-primary custom-btn text-white" th:href="@{/posts/category/9}">Recovery</a>
            </div>
            <div>
                <a class="btn btn-primary custom-btn text-white" th:href="@{/posts/category/10}">Travel</a>
            </div>
            <div>
                <a class="btn btn-primary custom-btn text-white" th:href="@{/posts/category/11}">Volunteer</a>
            </div>
            <div>
                <a class="btn btn-primary custom-btn text-white" th:href="@{/posts/category/12}">Youth</a>
            </div>
            <div>
                <a class="btn btn-primary custom-btn text-white" th:href="@{/posts/category/13}">Other</a>
            </div>
        </div>
    </div>

</div>

<!-- First Time Visitor Modal -->
<div class="modal fade" id="firstTimeVisitorModal" tabindex="-1" role="dialog"
     aria-labelledby="firstTimeVisitorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="firstTimeVisitorModalLabel">Welcome to <span
                        class="logo-span">UpliftUnity</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                UpliftUnity is your platform to discover stories, share hardships,
                and contribute to meaningful causes. Here, every individual has a voice,
                and every story finds a listener.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary custom-btn w-100" data-dismiss="modal">Explore</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{partials/footer :: footer}"></div>
<script src="/js/welcome-cookie.js"></script>
</body>
</html>