<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body class="index-body">
<div th:replace="partials/header :: header"></div>
<div th:replace="partials/navbar :: navbar"></div>
<div class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xs-12 d-flex flex-column justify-content-center">
                <h1 class="display-3">UpliftUnity</h1>
                <p class="pt-2">Where Stories Meet Support. Together, We Make a Difference.</p>
                <a class="btn btn-primary custom-btn text-white d-flex align-items-center
                     justify-content-center mt-3" href="#">Our Mission</a>
            </div>
            <div class="col-lg-6 col-xs-12 d-flex justify-content-end">
                <img src="/images/earth.png" alt="Water color painting of earth"
                     class="hero-section-image pt-4">
            </div>
        </div>
    </div>
</div>

</body>
</html>
