<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <div th:replace="~{partials/header :: header}"></div>
</head>
<body class="about-us-background">
<div th:replace="~{partials/navbar :: navbar}"></div>
<div class="content-wrapper">
    <div class="container mission-content">

        <h2 class="text-center pt-4 pb-3">Our Mission</h2>
        <p class="text-center">UpliftUnity is a platform where every individual can discover stories,
            share hardships, and connect with a supportive community. Users facing
            challenges can share their experiences and link to their fundraising
            campaigns, tapping into a community eager to provide assistance and
            contribute to meaningful causes.</p>

        <div class="swiper home-slider">
            <div class="swiper-wrapper">
                <img class="swiper-slide" src="/images/aaron-img.jpeg" alt=""/>
                <img class="swiper-slide" src="/images/kofi-img.png" alt=""/>
                <img class="swiper-slide" src="/images/robert-img.jpeg" alt=""/>
            </div>
        </div>

        <h2 class="text-center pt-4 pb-3">Meet The Team</h2>
        <p class="text-center pb-3">During our time at Codeup's coding BootCamp, we crossed paths and felt
            a shared purpose. This spark led to the creation of
            UpliftUnity. Our aim was simple: to carve out a space where stories
            could be heard, challenges shared, and helping hands extended.
            We believe in the strength of community and the difference we can
            make, one story at a time.
        </p>

        <div class="row d-flex justify-content-center mb-4">
            <!-- Card 1 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/images/robert-img.jpeg" alt="Team Member 1" class="card-img-top team-member-image">
                    <div class="card-body">
                        <h5 class="card-title">Robert Mendez</h5>
                        <a href="https://www.linkedin.com/in/robert-j-mendez/" target="_blank" class="text-dark me-3"><i
                                class="fab fa-linkedin fa-2x"></i></a>
                        <a href="https://github.com/robertjmendez" target="_blank" class="text-dark"><i
                                class="fab fa-github fa-2x"></i></a>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/images/aaron-img.jpeg" alt="Team Member 2" class="card-img-top team-member-image">
                    <div class="card-body">
                        <h5 class="card-title">Aaron Bond</h5>
                        <a href="https://www.linkedin.com/in/aaron-reid-bond/" target="_blank" class="text-dark me-3"><i
                                class="fab fa-linkedin fa-2x"></i></a>
                        <a href="https://github.com/aaron-reid-bond" target="_blank" class="text-dark"><i
                                class="fab fa-github fa-2x"></i></a>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-3">
                <div class="card">
                    <img src="/images/kofi-img.png" alt="Team Member 3" class="card-img-top team-member-image">
                    <div class="card-body">
                        <h5 class="card-title">Kofie Knowles</h5>
                        <a href="https://www.linkedin.com/in/kofie-knowles/" target="_blank" class="text-dark me-3"><i
                                class="fab fa-linkedin fa-2x"></i></a>
                        <a href="https://github.com/JemalKnowles1" target="_blank" class="text-dark"><i
                                class="fab fa-github fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{partials/footer :: footer}"></div>
<div th:replace="~{partials/footer :: footerscripts}"></div>
</body>
</html>