<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body class="login-background">
<div th:replace="~{partials/header :: header}"></div>
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="login-form-background col-11 col-lg-4 col-md-6 pb-5 pt-3 px-4">
        <h1 class="text-center pt-3 display-4 pb-2">UpliftUnity</h1>
        <h2 class="text-center pb-3">Welcome</h2>

        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control form-radius" placeholder="Enter username"
                       required/>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control form-radius" placeholder="Enter password"
                       required/>
            </div>
            <div class="form-group text-center sign-up-line pt-2">
                <p>Don't have an account? <a href="/signup">Sign up</a></p>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary w-100 mt-3 custom-btn">Login</button>
            </div>

            <!-- Error message -->
            <div th:if="${param.error}" class="alert alert-danger">
                Invalid username or password.
            </div>
        </form>
    </div>
</div>
</body>
</html>