<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<div th:replace="~{partials/header :: header}"></div>
<div class="row">
    <div class="col-lg-6 left-panel d-flex justify-content-center align-items-center vh-100">
        <div class="form-background col-10 col-lg-7 col-md-6 my-5 py-5 px-3">
            <div class="container">
                <h3 class="text-center signup-h3 pb-2">Sign Up</h3>
                <form th:action="@{/signup}" method="POST" th:object="${user}">

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control form-radius" id="username" th:field="*{username}" placeholder="Enter username"
                               required/>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control form-radius" id="email" th:field="*{email}" placeholder="Enter email" required/>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control form-radius" id="password" type="password" th:field="*{password}"
                               placeholder="Enter password" required/>
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input class="form-control form-radius" id="confirmPassword" name="confirmPassword" type="password"
                               placeholder="Re-enter password" required/>

                    </div>

                    <button type="submit" class="btn btn-primary w-100 custom-btn mt-3">Register</button>

                    <!-- JS error messages -->
                    <small id="usernameMismatch" class=" form-text text-danger signup-span text-center d-block my-3"></small>
                    <small id="passwordMismatch" class="form-text text-danger signup-span text-center d-block my-3"></small>

                    <!-- Serverside error messages-->
                    <small th:if="${usernameError}" th:text="${usernameError}" class="form-text alert alert-danger text-center mt-3"></small>
                    <small th:if="${emailError}" th:text="${emailError}" class="form-text alert alert-danger text-center mt-3"></small>
                    <small th:if="${passwordError}" th:text="${passwordError}" class="form-text alert alert-danger text-center mt-3"></small>
                    <small th:if="${passwordMismatch}" th:text="${passwordMismatch}" class="form-text alert alert-danger text-center mt-3"></small>

                </form>
            </div>
        </div>
    </div>
    <div class="col-6 right-panel d-none d-lg-block">
        <div class="container sign-up">
            <h1 class="display-3">UpliftUnity</h1>
            <h3 class="mt-4 signup-h3">Empowering communities, one story at a time.</h3>
            <div class="image-div d-flex justify-content-end mt-5">
                <img class="sign-up-image" src="/images/sign-up-image1.jpg" alt="">
                <img class="sign-up-image" src="/images/sign-up-image2.jpg" alt="">
                <img class="sign-up-image" src="/images/sign-up-image3.jpg" alt="">

            </div>
            <div class="circles d-flex justify-content-center">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<script src="/js/sign-up-validation.js"></script>

</body>
</html>